@model GruppG.Models.ViewModels.LoginVM


@{
    ViewBag.Title = "Logga in";
}
@if (TempData["message"] != null)
{
    <div class="alert alert-success">
        <a class="close" data-dismiss="alert">&times;</a>
        @TempData["message"]
    </div>   
}
@if (TempData["message Error"] != null)
{
    <div class="alert alert-danger">
    <a class="close" data-dismiss="alert">&times;</a>
    @TempData["messageError"]
    </div>
}

@*"Login", "Login", FormMethod.Post)*@
@using (Html.BeginForm("LogIn", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()  /* erik har med detta*/

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @* LableFor "UserName" is connected to the EditorFor "UserName" *@
            @Html.LabelFor(model => model.UserName, "Användarnamn", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { @class = "form-control" })
                @*@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @* LableFor "Password" is connected to the EditorFor "Password" *@
            @Html.LabelFor(model => model.Password, "Lösenord", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password , new { @class = "form-control" })
                @*@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })*@

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*@Html.ActionLink("Logga in", "LogIn", "LogIn", new { @id =  Model.Id }, null)*@
                
                <input type="submit" value="Logga in" class="btn-default" />
                @Html.ActionLink("Ny användare", "Register", "Login")
            </div>    
        </div>
        
    </div>
}



       