@model GruppG.Models.ViewModels.LoginVM 


@{
    ViewBag.Title = "Logga in";
}

@*"Login", "Login", FormMethod.Post)*@
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()  /* erik har med detta*/

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Användarnamn", htmlAttributes: new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Lösenord", htmlAttributes: new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*@Html.ActionLink("Logga in", "MyPage", "Login", new { @id =  Model.Id }, null)*@
                <input type="submit" value="Login" class="btn-default" />
                @Html.ActionLink("Ny användare", "Register", "Login")
            </div>    
        </div>
        
    </div>
}



       