@model GruppG.Models.db.Person
@{
    ViewBag.Title = "Mina sidor";
    if (Session["Id"] == null)
    {
        Response.Redirect("~/Login/LogIn");
    }
}

<h2>Välkommen till mina sidor  @Model.FirstName @Model.LastName</h2>

<h4>
    
</h4>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            <strong>Förnamn:</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            <strong>Efternamn</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            <strong>Användarnamn</strong>
        </dt>

        <dd>

            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>

</div>


<div class="col-md-4">
    
    
    @*@Html.ActionLink("Mer information", "PartialViewChannels", new { @id = item.Id }, null)*@
     
    

</div>



@*@foreach (var item in Model)
{
    <ul>
        <li>
            @Html.DisplayFor(modelItem => item.Name) <a>Lägg till som favoritkanal</a>
        </li>
      
    </ul>

}*@




