@model GruppG.Models.db.Program

@{
    ViewBag.Title = "Lägga till";
}

<h2>Lägg till som puff</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
 
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div>
            <div class="form-group">
                <div>
                    <strong>Program</strong>
                    @Html.DisplayFor(model => model.Titel)
                </div>
                <div>
                    <strong>Om programmet</strong>
                    @Html.DisplayFor(model => model.Description)
                </div>
                <div>
                    <strong>Kanal</strong>
                    @Html.DisplayFor(model => model.Chanel1.Name)
                </div>
                <div>
                    <strong>Kategori</strong>
                    @Html.DisplayFor(model => model.Category1.Name)
                </div>
                <div>
                    <strong>Datum</strong>
                    @Html.DisplayFor(model => model.Programstart)
                </div>
                <div>
                    <strong>Tid</strong>
                    @Html.DisplayFor(model => model.Programstart.Value.TimeOfDay)
                    -
                    @Html.DisplayFor(model => model.Endtime.Value.TimeOfDay)
                </div>
                <div>
                    <strong>Puff</strong>
                    @ViewBag.Message
                </div>
                <div>
                    <input type="submit" value="Spara som puff" class="btn btn-default" />
                </div>
                <br />
                <br />
            </div>
        </div>
}

<div>
    @Html.ActionLink("Tillbaka till programlistan", "Index")
</div>
