@model GruppG.Models.ViewModels.ProgramChannelVM
@{
    ViewBag.Title = "Administrera program och puffar";
}

<h2>Admin</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@* --Pufflista-- *@
<div>
    @foreach (var item in Model.GetPuffListVM)
    {
        <ul>
            <li>
                @Html.DisplayFor(modelItem => item.Titel)  Tid: @item.Starttime.Value.ToShortDateString()
                @Html.ActionLink("Mer information", "ProgramDetails", new { @id = item.Id }, null)
                @Html.ActionLink("Ta bort", "DeletePuff", new { /* id=item.PrimaryKey */ })
            </li>
        </ul>

    }
</div>

@if (TempData["message"] != null)
{
    @*<link href="~/css/boostrap.css" rel="stylesheet" />
    <script src="~/js/boostrap.min.js"></script>

        <div class="alert alert-danger">

            <a class="close" data-dismiss="alert">&times;</a>

            <strong style="width:12px">OBS: </strong> Det maximala antalet puffar är 3!

        </div>*@

    //Så här hämtar man meddelandet från controllern:
    <div class="alert alert-danger">
        <a class="close" data-dismiss="alert">&times;</a>
        <strong> OBS:</strong> @TempData["message"]
    </div>

}

<h4>Filtrera på datum</h4>
<div class="date">
    @using (Html.BeginForm("Index", "Admin", FormMethod.Get))
    {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">

                    @Html.DropDownList("date", new SelectList(Model.Dates, "date", "date", "date"), "Idag", new { onchange = "form.submit();" })
                    @Html.DropDownList("id", new SelectList(Model.GetChannels(), "Id", "Name", "id"), "Alla kanaler", new { onchange = "form.submit();" })
                </div>


            </div>
    }
</div>




<table class="table">
    
    <tr>
        <th> Program </th>
        <th> Tid </th>
        <th> Redigera </th>
    </tr>
   
@foreach (var item in Model.ProgramListVM)
{
    <tr>
        
        <td>@item.Titel</td>
        <td>@item.Programstart</td>
        <td>
        @*@if(null != TempData["alertMessage"])
        {
        <script type="text/javascript">
       alert("TempData[alertMessage]");
       </script>
        }
        else
        {*@ 
        @Html.ActionLink("Edit Puff", "Edit", new { @id = item.Id }, null) 
        @Html.ActionLink("| Mer information", "ProgramDetails", new { @id = item.Id }, null) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
        
    </tr>
}

</table>
