@model GruppG.Models.ViewModels.ProgramChannelVM
@{
    ViewBag.Title = "Administrera puffar";
}

<h2>Admin</h2>

<p>
    @*Ta bort den här?*@
    @Html.ActionLink("Create New", "Create")
</p>


@* ----Pufflista---- *@
<div class="jumbotron">
    <div class="list-unstyled">
        @*<dl class="dl-horizontal">*@
            <table class="table">
                @foreach (var item in Model.GetPuffListVM)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Titel)
                        </td>

                        <td>| @item.Starttime.Value.ToShortDateString() |</td>

                        <td>
                            @*@Html.ActionLink("Mer information", "ProgramDetails", new { @id = item.Id }, null)*@
                            | @Html.ActionLink("Ta bort puffen", "Delete", new { @id = item.Id }, null) |
                        </td>
                    </tr>
                }
            </table>
            @*</dl>*@
</div>
</div>
@*----Pufflista End----*@



@*----Alertmessage - too many puff's----*@

    @if (TempData["message"] != null)
    {

        <div class="alert alert-danger">
            <a class="close" data-dismiss="alert">&times;</a>
            <strong> OBS:</strong> @TempData["message"]
        </div>
    }
@*---Alertmessage End----*@



@*----Filter-function---- (lägg till kategori?)*@
    <div class="date">
        @using (Html.BeginForm("Index", "Admin", FormMethod.Get))
        {
            <div class="form-group">
                <h4>Filtrera:</h4>
                @*<div class="col-md-offset-2 col-md-10">*@
                    
                    @Html.DropDownList("date", new SelectList(Model.Dates, "date", "date", "date"), "Idag", new { onchange = "form.submit();" })
                    @Html.DropDownList("id", new SelectList(Model.ChannelListVM, "Id", "Name", "id"), "Alla kanaler", new { onchange = "form.submit();" })
                @*</div>*@
            </div>
        }
    </div>
@*----Filter-function End----*@



@*----Programlist----*@
    <table class="table">
        <tr>
            <th> Program </th>
            <th> Tid </th>
            <th> Redigera </th>
        </tr>

        @foreach (var item in Model.ProgramListVM)
        {
            <tr>
                <td>@item.Titel</td>
                <td>@item.Programstart</td>
                <td>
                    @*@if(null != TempData["alertMessage"])
                         {
                         <script type="text/javascript">
                        alert("TempData[alertMessage]");
                        </script>
                         }
                         else
                         {*@
                    | @Html.ActionLink("Lägg till som puff", "Edit", new { @id = item.Id }, null) |
                    @Html.ActionLink("Mer information", "ProgramDetails", new { @id = item.Id }, null) |
                    @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </table>
@*----Programlist End-----*@
