@*@{
    ViewBag.Title = "Om...";
}
<h2>@ViewBag.Title.</h2>
<h4>@ViewBag.Message</h4>

<p>Use this area to provide additional information.</p>*@

@model IEnumerable<GruppG.Models.db.Program>

@{
    ViewBag.Title = "Kanal5";
}


<table class="table">
    <tr>
        <th>
            <p>Program</p>
        </th>

        @*<th>
                <p>Kanal</p>
            </th>*@

        <th>
            <p>Datum & tid</p>
        </th>

    </tr>

    @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Starttime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chanel1.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category1.Name)
            </td>
            <td>
                @Html.ActionLink("Mer info", "PartialViewDetails", "Home", new { id = item.Id }, null) |

                <button onclick="alert('@Html.DisplayFor(modelItem => item.Titel) @Html.DisplayFor(modelItem => item.Description)')">Mer information</button>

            </td>
        </tr>

    }
</table>