@model GruppG.Models.db.Program

<div>
        <h4>@Html.DisplayFor(model => model.Titel)</h4>
        <hr />
        <dl class="dl-horizontal">
            @*<dt>
                <strong>Program</strong>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Titel)
            </dd>*@

            <dt>
                <strong>Om programmet</strong>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                <strong>Kanal</strong>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Chanel1.Name)
            </dd>

            <dt>
                <strong>Kategori</strong>
            </dt>

            <dd>

                @Html.DisplayFor(model => model.Category1.Name)
            </dd>

            <dt>
                <strong>Datum & tid</strong>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Programstart)
                -
                @Html.DisplayFor(model => model.Endtime)
            </dd>

        </dl>

    </div>




<!--Det behövs en lista att iterera igenom-->
@*@foreach (var item in Model)
                {
        <tr>
            <td>
                @item.Titel)
            </td>
            <td>
                @item.Description)
            </td>
            <td>
                @item.Starttime.Value.TorShortString())
            </td>
            <td>
                @item.Category1.Name)
            </td>
        </tr>
    }*@

@Html.ActionLink("Tillbaka", "Index", "Home")
@*<button onclick="alert('@Html.DisplayFor(modelItem => Model.Titel) @Html.DisplayFor(modelItem => Model.Description)')">Mer information</button>*@

