@model IEnumerable<GruppG.Models.db.Program>
<!--Gör om till lista (det är ingen skillnad, men lista är lättare att förstå :)-->
@{
    ViewBag.Title = "Hem";
}

<div class="jumbotron">
    <h4>Nyhetspuffar</h4>
    <div class="nyhetspuff">
        <p class="lead">Nyhetspuff 1</p>
    </div>
    <div class="nyhetspuff">
        <p class="lead">Nyhetspuff 2</p>
    </div>
    <div class="nyhetspuff">
        <p class="lead">Nyhetspuff 3</p>
    </div>
</div>
<div class="date">
    @Html.ActionLink("   Idag   |", "Index", "Home")
    @Html.ActionLink("   Fredag   | ", "Friday", "Home")
    @Html.ActionLink("   Lördag   | ", "Saturday", "Home")
    @Html.ActionLink("   Söndag   | ", "Sunday", "Home")
    @Html.ActionLink("   Måndag   | ", "Monday", "Home")
    @Html.ActionLink("   Tisdag   | ", "Tuesday", "Home")
    @Html.ActionLink("   Onsdag   | ", "Wednesday", "Home")
    @Html.ActionLink("   Torsdag   | ", "Thursday", "Home")
</div>

<div class="row">

    <div class="col-md-4">
        <h2>SVT1</h2>

        @{
            Html.RenderAction("SVT1friday");
        }

    </div>

    <div class="col-md-4">
        <h2>SVT2</h2>

        @{
            Html.RenderAction("SVT2friday");
        }

    </div>
    <div class="col-md-4">
        <h2>TV3</h2>


        @{
            Html.RenderAction("TV3friday");
        }


    </div>

    <div class="col-md-4">
        <h2>TV4</h2>


        @{
            Html.RenderAction("TV4friday");
        }

    </div>
    <div class="col-md-4">
        <h2>Kanal 5</h2>


        @{
            Html.RenderAction("Kanal5friday");
        }

    </div>
</div>
