@model IEnumerable<GruppG.Models.db.Program>
    <!--Gör om till lista (det är ingen skillnad, men lista är lättare att förstå :)-->
@{
    ViewBag.Title = "Hem";
}

<div class="jumbotron">
    <h4>Nyhetspuffar</h4>
    <div class="nyhetspuff">
        <p class="lead">Nyhetspuff 1</p>
    </div>
    <div class="nyhetspuff">
        <p class="lead">Nyhetspuff 2</p>
    </div>
    <div class="nyhetspuff">
        <p class="lead">Nyhetspuff 3</p>
    </div>
</div>
<div class="date">
    @Html.ActionLink("Idag", "Index")
    @Html.ActionLink("2017-11-10", "Index")
    @Html.ActionLink("2017-11-11", "Index")
    @Html.ActionLink("Igår", "Index")
</div>

<div class="row">
    @*<div class="col-md-4">
        <h2>SVT1</h2>
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p> 
            vi kan använda oss av "btn btn-default"-classen-->
        <table class="table">
            <tr>
                <th>
                    <!--@Html.DisplayNameFor(model => model.Titel)-->
                    <p>Program</p>
                </th>

                <th>
                    <!--@Html.DisplayNameFor(model => model.Starttime)-->
                    <p>Datum & tid</p>
                </th>
                <th>
                    <!--@Html.DisplayNameFor(model => model.Chanel1.Name)-->
                    <p>Kanal</p>
                </th>
                <th>
                    <!--@Html.DisplayNameFor(model => model.Category1.Name)-->
                    <p>Kategori</p>
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titel)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Chanel1.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Starttime)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Category1.Name)
                    </td>
                    <td>

                        @Html.ActionLink("Mer info", "Details", new { id = item.Id }) |

                    </td>
                </tr>
            }
        </table>
    </div>*@


    <div class="col-md-4">
        <h2>SVT1</h2>

        @{
            Html.RenderAction("SVT1");
        }

    </div>

    <div class="col-md-4">
        <h2>SVT2</h2>

        @{
            Html.RenderAction("PartialViewSvt2");
        }
    
    </div>
    <div class="col-md-4">
        <h2>TV3</h2>

    
        @{
            Html.RenderAction("TV3");
        }
        
    
    </div>
    
    <div class="col-md-4">
        <h2>TV4</h2>
        
    
        @{
            Html.RenderAction("TV4");
        }
    
    </div>
    <div class="col-md-4">
        <h2>Kanal 5</h2>
        
    
        @{
            Html.RenderAction("Kanal5");
        }
    
    </div>
</div>