@model GruppG.Models.ViewModels.ProgramChannelVM
 
@{
    ViewBag.Title = "Hem";
}


@* --- Recommended programs (PUFF-list) *@
<div class="jumbotron">
    <h1>Vi rekommenderar: </h1>
    @{Html.RenderAction("PartialViewPuffs");}
</div>



@* --- Filter-function--->(Date/Category) *@
<div class ="date">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
            @*<div class="list-group">*@
                <div class="form-group">
                    <h4>Filtrera</h4>
                    @*<div class="col-md-offset-2 col-md-10">*@
                    @*@Html.DropDownList("date", new SelectList(Model.Dates, "date", "Day", "date"), "Idag", new { onchange = "form.submit();" })*@   
                    @Html.DropDownList("date", new SelectList(Model.Dates.Select(x => x.ToShortDateString())),"Idag", new { onchange = "form.submit();" })                
                    @*<select onchange="form.submit();" id="date" name="date">*@
@*@for (int i = 0; i < Model.Dates.Count; i++)
{
    if (i == 0)
    {
        <option value=@Model.Dates[i]>
            Idag
        </option>
    }
    else if (Model.Dates[i].ToString() == Model.Dates.ToString())
    {
        <option selected value=@Model.Dates[i]>
            @Model.Dates[i].ToShortDateString();
        </option>
    }
    else
    {
        <option value=@Model.Dates[i]>
            @Model.Dates[i].ToShortDateString();
        </option>
    }
}*@
@*@foreach (var item in Model.Dates)
{
    <option value= @item>
        @item.ToShortDateString()
    </option>
}*@
@*</select>*@

@Html.DropDownList("id", new SelectList(Model.CategoryListVM, "Id", "Name", "id"), "Alla kategorier", new { onchange = "form.submit();" })
                       @*</div>*@
                @*</div>*@
            </div>
    }
</div>



<div class="row">
            @if (Model.ChannelListVM != null)
            {
                 foreach (var item in Model.ChannelListVM)
                 {
                    <div class="col-md-4">
                        <h2> @item.Name </h2>
                        
                        <table class="table">
                            <tr>
                                <th> Program </th>
                                <th> Tid </th>
                            </tr>

                            @if (Model.ProgramListVM.Any())
                            {
                                foreach (var i in Model.ProgramListVM.Where(p => p.Chanel == item.Id))
                                {
                                     <tr>
                                        <td>@i.Titel</td>
                                        <td>@i.Programstart.Value.ToShortTimeString() </td>
                                        <td>@Html.ActionLink("Mer info", "ProgramDetails", new { @id = i.Id, title = i.Titel.TrimEnd() }, null)</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                  @ViewBag.Message
                            }
                        </table>
                        </div>
                }
            }

</div>








   



<footer>
    <p>&copy; @DateTime.Now.Year - Berglund & Dahlgren</p>
</footer>