@model IEnumerable<GruppG.Models.db.Program>
@*@model IEnumerable<GruppG.Models.ViewModels.ProgramChannelVM>*@
 
@*@model GruppG.Models.ViewModels.ProgramChannelVM*@
@{
    ViewBag.Title = "Hem";
}

<div class="jumbotron">
    
    <h4>Nyhetspuffar</h4>
    
    <div class="nyhetspuff">
    @*foreach i in puffs
        <div class="col-md-4"></div>*@
        
        @*@{
            Html.RenderAction("PartialViewPuffs");
        }*@
    </div>
</div>
<div class="date">
    @*@Html.ActionLink("   Test   |", "_Channel", "Home", new { date = "11/11/2017" })*@
    @*@Html.ActionLink("Test2","Index", "Home", new { date = "friday"})
    @Html.ActionLink("   Idag   |", "Index", "Home")
    @Html.ActionLink("   Fredag   | ", "Friday", "Home")
 *@
    
</div>

@*<div>
    <h4> Filtrering </h4>
    <div class="list-group">
        @Html.ActionLink("Alla", "Index", null, new { })
        @foreach (var item in Model.Channel)
        {
            @Html.ActionLink(item.Name, "Index", new { Channel = item.Name}, new { })
        }
    </div>
</div>*@


<div class="row">
    <table class="table">
        <tr>
            <th>
                <p>Program</p>
            </th>
            <th>
                <p>Tid</p>
            </th>
            <th>
                <p>Kanal</p>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td> @item.Titel</td>

                <td>
                    @item.Programstart.Value.ToShortTimeString()
                </td>
                <td>@item.Chanel</td>

                @*<td>
                    @Html.ActionLink("Mer information", "ProgramDetails", new { @id = item.Id }, null)
                </td>
                <td>
                    @Html.ActionLink("Mer information", "ProgramDetails", new { @id = item.Id }, null)
                </td>*@
            </tr>
        }

    </table>

    <div class="col-md-4">
        <h2>SVT1</h2>

        @*@{
            Html.RenderAction("SVT1");
        }*@
        @Html.Action("_Channel", "Home", new { channel = 1 , date = "11/11/2017" })

    </div>

    <div class="col-md-4">
        <h2>SVT2</h2>

        @*@{
            Html.RenderAction("SVT2");
        }*@
        @Html.Action("_Channel", "Home", new { channel = 2, date = "11/11/2017" })
    
    </div>
    <div class="col-md-4">
        <h2>TV3</h2>

    
        @*@{
            Html.RenderAction("TV3");
        }*@
        
    
    </div>
    
    <div class="col-md-4">
        <h2>TV4</h2>
        
    
        @*@{
            Html.RenderAction("TV4");
        }*@
    
    </div>
    <div class="col-md-4">
        <h2>Kanal 5</h2>
        
    
        @*@{
            Html.RenderAction("Kanal5");
        }*@
    
    </div>
</div>

<footer>
    <p>&copy; @DateTime.Now.Year - Berglund & Dahlgren</p>
</footer>