@model GruppG.Models.ViewModels.ProgramChannelVM
 
@{
    ViewBag.Title = "Hem";
}


@* --- Recommended programs (PUFF-list) *@
<div class="jumbotron">
    <h1>Vi rekommenderar: </h1>
    @{Html.RenderAction("PartialViewPuffs");}
</div>



@* --- Filter-function--->(Date/Category) *@
<div class ="date">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
                <div class="form-group">
                    <h4>Filtrera</h4>
                    @Html.DropDownList("date", new SelectList(Model.Dates.Select(x => x.ToShortDateString())),"Idag", new { onchange = "form.submit();" })                
                    @Html.DropDownList("id", new SelectList(Model.CategoryListVM, "Id", "Name", "id"), "Alla kategorier", new { onchange = "form.submit();" })
            </div>
    }
</div>



<div class="row">
            @if (Model.ChannelListVM != null)
            {
                 foreach (var item in Model.ChannelListVM)
                 {
                    <div class="col-md-4">
                        <h2> @item.Name </h2>
                        
                        <table class="table">
                            <tr>
                                <th> Program </th>
                                <th> Tid </th>
                            </tr>

                            @if (Model.ProgramListVM.Any())
                            {
                                foreach (var i in Model.ProgramListVM.Where(p => p.Chanel == item.Id))
                                {
                                     <tr>
                                        <td>@i.Titel</td>
                                        <td>@i.Programstart.Value.ToShortTimeString() </td>
                                        <td>@Html.ActionLink("Mer info", "ProgramDetails", new { @id = i.Id, title = i.Titel.TrimEnd() }, null)</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                  @ViewBag.Message
                            }
                        </table>
                        </div>
                }
            }

</div>








   



<footer>
    <p>&copy; @DateTime.Now.Year - Berglund & Dahlgren</p>
</footer>