@*@model IEnumerable<GruppG.Models.db.Program>*@
@*@model IEnumerable<GruppG.Models.db.Chanel>*@
@*@model IEnumerable<GruppG.Models.db.U4Entities>*@
@*@model IEnumerable<GruppG.Models.ViewModels.ProgramChannelVM>*@
@model GruppG.Models.ViewModels.ProgramChannelVM
 
@*@model GruppG.Models.ViewModels.ProgramChannelVM*@
@{
    ViewBag.Title = "Hem";
}

<div class="jumbotron">
    
    <h4>Nyhetspuffar</h4>
    
    <div class="nyhetspuff">
    @*foreach i in puffs
        <div class="col-md-4"></div>*@
        
        @*@{
            Html.RenderAction("PartialViewPuffs");
        }*@
    </div>
</div>
<div class="date">
    <h4>Filtrera på datum</h4>
    <div class="list-group">
        @* Ta bort "alla dagar"? *@
        @Html.ActionLink("Idag", "Index", null, new { })
        @foreach (var date in Model.Dates)
        {
            //int id = 0;
            @Html.ActionLink(date.ToShortDateString(), "Index", new { date }, new { })
            @*if (d == Model.Program.Programstart)
            {
            @Html.ActionLink(d.ToShortDateString(), "Index", new { id = Model.Today }, new { })
            <&nbsp></&nbsp>
            }*@
        }
        </div>
    </div>

    <div class="date">
        <h4>Filtrera på kategori</h4>
        <div class="list-group">
            @Html.ActionLink("Alla kategorier", "Index", null, new { })
            @foreach (var d in Model.CategoryListVM)
            {

                @Html.ActionLink(d.Name, "Index", new { id = d.Id }, new { })
                <&nbsp></&nbsp>

                @*@Html.ActionLink(item.Name, "Index", new { Channel = item.Name}, new { })*@
            }
        </div>

        @*@Html.ActionLink("   Test   |", "_Channel", "Home", new { date = "11/11/2017" })*@
        @*@Html.ActionLink("Test2","Index", "Home", new { date = "friday"})
            @Html.ActionLink("   Idag   |", "Index", "Home")
            @Html.ActionLink("   Fredag   | ", "Friday", "Home")
        *@

    </div>
@*<div>
    <h4> Filtrering </h4>
    <div class="list-group">
    @Html.ActionLink("Alla", "Index", null, new { })
    </div>
</div>*@


<div class="row">

            @if (Model.ChannelListVM != null)
            {
                foreach (var item in Model.ChannelListVM)

                {
                    <div class="col-md-4">
                        <h2> @item.Name </h2>
                        
                        <table class="table">
                            <tr>
                                <th> Program </th>
                                <th> Tid </th>
                            </tr>
                    
                            @if (Model.ProgramListVM.Any())
                            {
                                foreach (var i in Model.ProgramListVM.Where(p => p.Chanel == item.Id))
                                {
                                    <tr>
                                        <td>@i.Titel</td>
                                        <td>@i.Programstart</td>
                                        <td>@Html.ActionLink("Mer information", "ProgramDetails", new { @id = i.Id }, null)</td>
                                    </tr>
                                }
                            }
                            @*else
                            {
                                @ViewBag.Message
                            }*@
                        </table>
                        </div>
                        }
                        }

</div>








    @*<div class="col-md-4">
            <h2>SVT1</h2>

            @{
                Html.RenderAction("SVT1");
            }
            @Html.Action("_Channel", "Home", new { channel = 1 , date = "11/11/2017" })

        </div>

        <div class="col-md-4">
            <h2>SVT2</h2>

            @{
                Html.RenderAction("SVT2");
            }
            @Html.Action("_Channel", "Home", new { channel = 2, date = "11/11/2017" })

        </div>
        <div class="col-md-4">
            <h2>TV3</h2>
            @{
                Html.RenderAction("TV3");
            }
        </div>
       
    </div>*@



<footer>
    <p>&copy; @DateTime.Now.Year - Berglund & Dahlgren</p>
</footer>