@*@model IEnumerable<GruppG.Models.db.Program>

@foreach (var item in Model)
{
    <ul>
        <li>
            <b>Program:</b> @item.Titel <br> <b>Kategori:</b> @item.Category <br> <b>Datum:</b>@item.Date &nbsp <b>Tid:</b>@item.Time  &nbsp <b>Lengd:</b> &nbsp @item.Lenght <br> <b>Beskrivning:</b> @item.Descrition
        </li>
    </ul>
}*@
