@model IEnumerable<GruppG.Models.db.Program>

<div class="list-unstyled">
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <strong> @Html.DisplayFor(modelItem => item.Chanel1.Name): </strong>
                    
                    @Html.DisplayFor(modelItem => item.Titel)
                        </td>
                <td>
                    | Kl: @item.Programstart.Value.ToShortTimeString()
                    | @item.Programstart.Value.ToShortDateString() |
                        </td>
              
                <td>
                    @Html.ActionLink("Mer info", "ProgramDetails", new { @id = item.Id }, null)
                </td>
            </tr>

        }
        </table>
    </div>



