@model GruppG.Models.db.Program
@*@model GruppG.Models.ViewModels.ProgramChannelVM*@

@{
    ViewBag.Title = "ProgramDetails";
}

<h3>Programdetaljer</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Titel)*@
            <strong>Program</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titel)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Description)*@
            <strong>Om programmet</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Programstart)*@
            <strong>Datum & tid</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Programstart)
            
        </dd>
        <dd><strong>-</strong>
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Endtime)
        </dt>*@

        <dd>
            @Html.DisplayFor(model => model.Endtime)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Puff)
        </dt>*@
        <dt>
            Rekommenderat program: 
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.ProgramData.PuffName(Model.Program.Puff))*@
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Programstart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Programstart)
        </dd>*@

        <dt>
            @*@Html.DisplayNameFor(model => model.Category1.Name)*@
            <strong>Kategori</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category1.Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Chanel1.Name)*@
            <strong>Kanal</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chanel1.Name)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Tillbaka", "Index")
</p>
