@model  GruppG.Models.ViewModels.ProgramChannelVM
    @{
        ViewBag.Title = "Mina sidor";
    }


<h2>Välkommen till mina sidor <br />
    @Model.Person.FirstName @Model.Person.LastName</h2>

@*Userinfo*@
@*<div>
    <p>
        @if (User.Identity.IsAuthenticated)
        {
            <p>kontrollId: </p>@Model.Person.Id
        }   
    </p>
</div>*@


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <strong>Förnamn: </strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>
        <dt>
            <strong>Efternamn: </strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.LastName)
        </dd>
        <dt>
            <strong>Användarnamn:</strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.UserName)
        </dd>
    </dl>
</div>

<div class="dl-horizontal">
    @*@Html.ActionLink("Lägg till/Ta bort - favoritkanaler", "MyFavoriteChannels", "MyPage", new { @id = Model.Person.Id }, null)*@
    @Html.ActionLink("Lägg till/Ta bort - favoritkanaler", "MyFavoriteChannels", "MyPage")
</div>



<h2>Mina Favoritkanaler</h2>
<div class="date">
    @using (Html.BeginForm("Index", "MyPage", FormMethod.Get))
    {
        @*<div class="list-group">*@
        <div class="form-group">
            <h4>Filtrera</h4>
            @*<div class="col-md-offset-2 col-md-10">*@
            @Html.DropDownList("date", new SelectList(Model.Dates.Select(x => x.ToShortDateString())), "Idag", new { onchange = "form.submit();" })
                @Html.DropDownList("category", new SelectList(Model.CategoryListVM, "Id", "Name", "category"), "Alla kategorier", new { onchange = "form.submit();" })

            
            @*</div>*@
            @*</div>*@
        </div>
    }
</div>


    <div class="row">
        @if (Model.FavoriteChannelsVM != null)
        {
            foreach (var item in Model.FavoriteChannelsVM)
            {
                <div class="col-md-4">
                    <h2> @item.Chanel1.Name</h2>
                    <table class="table">
                        <tr>
                            <th> Program </th>
                            <th> Tid </th>
                        </tr>
                        @if (Model.ProgramListVM.Any())
                    {
                        foreach (var i in Model.ProgramListVM.Where(p => p.Chanel == item.Chanel))
                        {
                                <tr>
                                    <td>@i.Titel</td>
                                    <td>@i.Programstart.Value.ToShortTimeString() </td>
                                    <td>@Html.ActionLink("Mer info", "ProgramDetails", new { @id = i.Id, title = i.Titel.TrimEnd() }, null)</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        }

        else
        {
            <h2>Alla kanaler</h2>
            <div class="row">
                @if (Model.ChannelListVM != null)
                {
                    foreach (var item in Model.ChannelListVM)
                    {
                        <div class="col-md-4">
                            <h2> @item.Name </h2>
                            <table class="table">
                                <tr>
                                    <th> Program </th>
                                    <th> Tid </th>
                                </tr>
                                @if (Model.ProgramListVM.Any())
                        {
                            foreach (var i in Model.ProgramListVM.Where(p => p.Chanel == item.Id))
                            {
                                        <tr>
                                            <td>@i.Titel</td>
                                            <td>@i.Programstart.Value.ToShortTimeString() </td>
                                            <td>@Html.ActionLink("Mer info", "ProgramDetails", new { @id = i.Id }, null)</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    @ViewBag.Message
                                }
                            </table>
                        </div>
                    }
                }
            </div>
        }
    </div>
   






    @*}
                    </table>
                </div>
            }
        }*@




    @*foreach (var item in Model.FavoriteChannelsVM)
        {
        <div class="col-md-4">
            @*<table class="table">
                <tr>
                    <td>*@
    @*<h4>*@ @*@item.Chanel1.Name</h4>*@
    @*</td>
        </tr>*@
    @*@foreach (var i in Model.FavoriteChannelsVM.Where(p => p.Chanel == item.Id))
        {*@
    @*<tr>
            <td>@i.Title</td>
            <td>@i.Programstart.Value.ToShortTimeString() </td>
            <td>@Html.ActionLink("Mer info", "ProgramDetails", new { @id = i.Id }, null)</td>
        </tr>*@
    @*}*@
    @*</table>*@
    @*</div>*@
    @*}
        }*@
    @*else
        {*@
    @*<h2>Alla kanaler</h2>
        <div class="row">*@

    @*@if (Model.ChannelListVM != null)
                    {
                        foreach (var item in Model.ChannelListVM)

                        {
                            <div class="col-md-4">
                                <h2> @item.Name </h2>

                                <table class="table">
                                    <tr>
                                        <th> Program </th>
                                        <th> Tid </th>
                                    </tr>

                                    @if (Model.ProgramListVM.Any())
                                    {
                                        foreach (var i in Model.ProgramListVM.Where(p => p.Chanel == item.Id))
                                        {
                                            <tr>
                                                <td>@i.Titel</td>
                                                <td>@i.Programstart.Value.ToShortTimeString() </td>
                                                <td>@Html.ActionLink("Mer info", "ProgramDetails", new { @id = i.Id }, null)</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        @ViewBag.Message
                                    }
                                </table>
                            </div>
                        }
                    }
                </div>
            }
        </div>*@


    @*<div class="row">
            Nedre
            @if (Model.FavoriteChannelsVM != null)
            {
                foreach (var item in Model.FavoriteChannelsVM)
                {
                    <div class="col-md-4">
                        <h2> @item.Chanel </h2>
                        <table class="table">
                            <tr>
                                <th> Program </th>
                                <th> Tid </th>
                            </tr>
                            @if (Model.ProgramListVM.Any())
                            {
                                foreach (var i in Model.ProgramListVM.Where(p => p.Chanel == item.Chanel))
                                {
                                    <tr>
                                        <td>@i.Titel</td>
                                        <td>@i.Programstart.Value.ToShortTimeString() </td>
                                        <td>@Html.ActionLink("Mer info", "ProgramDetails", new { @id = i.Id }, null)</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                @ViewBag.Message
                            }
                        </table>
                    </div>
                }
            }

        </div>*@



































