@model  GruppG.Models.ViewModels.FavoritChannelVM
    @{
        ViewBag.Title = "Mina sidor";
    }


<h2>Välkommen till mina sidor <br />
    @Model.PersonP.FirstName @Model.PersonP.LastName</h2>

@*Userinfo*@
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <strong>Förnamn: </strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonP.FirstName)
        </dd>
        <dt>
            <strong>Efternamn: </strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonP.LastName)
        </dd>
        <dt>
            <strong>Användarnamn:</strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonP.UserName)
        </dd>
        <dt>
            <strong>Lösenord:</strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonP.Password)
        </dd>

    </dl>
    @Html.ActionLink("Lägg till/ta bort - favoritkanaler", "MyFavoriteChannels", "MyPage", new { @id = Model.PersonP.Id }, null)

</div>

    @*<table class="table">
        <tr>
            <th>
                <p>Person</p>
            </th>

            @*<th>
                    <p>Kanal</p>
                </th>*@
            @*<th>
                <p>Datum</p>
            </th>
        </tr>*@

        @*@foreach (var item in Model)
        {
            <tr>
                <td> @item.FirstName</td>

                <td> @item.LastName</td>

                <td> @Html.ActionLink("Mer information", "ProgramDetails", "MyPage", new { @id = item.Id }, null)</td>

                <td> @Html.ActionLink("Lägg till favoritkanaler", "MyFavoriteChannels", "MyPage", new { @id = item.Id }, null)</td>
            </tr>
        }
    </table>*@

<div class="row">

    @if (Model.ChannelListVM != null)
    {
        foreach (var item in Model.ChannelListVM)

        {
            <div class="col-md-4">
                <h2> @item.Name </h2>

                <table class="table">
                    <tr>
                        <th> Program </th>
                        <th> Tid </th>
                    </tr>

                    @if (Model.ProgramListVM.Any())
                    {
                        foreach (var i in Model.ProgramListVM.Where(p => p.Chanel == item.Id))
                        {
                            <tr>
                                <td>@i.Titel</td>
                                <td>@i.Programstart.Value.ToShortTimeString() </td>
                                <td>@Html.ActionLink("Mer info", "ProgramDetails", new { @id = i.Id }, null)</td>
                            </tr>
                        }
                    }
                    else
                    {
                        @ViewBag.Message
                    }
                </table>
            </div>
        }
    }

</div>



